/* NAVBAR */
.drop {
  position: relative;
  display: inline-block;
}

.dropdown-con {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 100px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-con a {
  color: black;
  padding: 5px 10px;
  text-decoration: none;
  display: block;
}

.dropdown-con a:hover {background-color: #ddd;}

.drop:hover .dropdown-con {display: block;}

.drop:hover .dropbtn {background-color: #ddd;}

#margin {
  margin-left: 20px;
}

nav {
  height: 120px;
}
#logo-container {
  color: #333;
}
#link {
  color: #333;
  margin-top: 25px;
}
#menu {
  margin-top: 30px;
}
#logo {
  width: 100px;
  margin-top: 10px;
}

/* HEADER */
.header {
  color: white;
  font-family: adobe-caslon-pro, serif;
  font-weight: 600;
  font-style: italic
}
#aaa {
  margin-top: 180px;
}
.parallax {
  filter: brightness(55%);
}
#download-button {
  background-color: #bc0606;
}
#download-button:hover {
  background-color: #e1d800;
}

/* ABOUT */
h5 {
  font-family: adobe-caslon-pro, serif;
  font-weight: 600;
  font-size: 35px;
  color: black;
}
i {
  color: #bc0606;
}

/* FOOTER */
#fa-link {
  color: #333;
}

#tel {
  color: #333;
}

.fa-facebook {
  color: #333;
}
.page-footer {
  background-color: #bc0606;
}

.page-footer i {
  color: white;
}

/* MENU-TOP */
.categories {
  border: 1px solid white;
  border-radius: 2px;
  text-align: center;
  border-radius: 2px;
  max-width: 900px;
  margin: 0 auto;
  margin-top: 50px;
  padding-top: 7px;
}
.categories .item {
  margin: 5px;
  display: inline-block;
}

.categories .item a {
  margin: 10px;
  color: black;
  cursor: pointer;
  font-family: adobe-caslon-pro, serif;
  font-weight: 600;
  font-style: italic;
  font-size: 30px;
  color: white;
}

/* MENU */
hr {
  color: #bc0606;
  margin-bottom: 30px;
}
.menu {
  padding: 12px;
}

.menu .category-title {
  text-transform: uppercase;
  text-align: center;
  font-size: 40px;
  margin-bottom: 14px;
  font-family: adobe-caslon-pro, serif;
  font-weight: 600;
  font-style: italic
}

.menu .items {
  margin-bottom: 40px;
}

.menu .items .item {
  margin-bottom: 10px;
}

h2 {
  font-family: adobe-caslon-pro, serif;
  font-weight: 600;
  font-size: 28px;
  margin: 0;
  margin-bottom: 5px;
}

h3 {
  margin: 0;
  font-size: 18px;
}

p {
  margin: 0;
  color: #333;
  margin-bottom: 30px;
}

.item.min h3 {
  margin-bottom: 30px;
}

@media screen and (min-width: 800px) {
  .menu {
    max-width: 800px;
    margin: 0 auto;
  }

  .items {
    text-align: center;
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}